<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

       <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
       <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                green: '#A6FBB2',
                grey: '#504C64',
                white: '#FDFDFD',
              },
  
              fontFamily: {
                helvetica: ['Helvetica', 'Arial', 'sans-serif'],
              }
            }
          }
        }
       </script>

        <title>PackPal</title>
        <link rel='stylesheet' href='/css/reset.css' />
        <link rel='stylesheet' href='/css/style.css' />

    </head>

    <body>

        <nav class='nav text-center text-grey font-semibold'>
            <a class='nav-link' id='homeLink' href='/'>Home</a>
            <a class='nav-link' id='dashboardLink' href='/dashboard'>Dashboard</a>
            {{#if logged_in}}
                <a class='nav-link' id="logout" href='/'>Logout</a>
            {{else}}
                <a class='nav-link' id='logoutLink' href='/login'>Login</a>
            {{/if}}
        </nav>

        <header>
            <h1 class="packpalTitle text-center" style="font-size: 6vw;">PackPal</span></h1>
        </header>

        <main class='container-fluid'>
            <!-- Render the sub layout -->
            {{{body}}}
        </main>

  
        {{#if logged_in}}
            <script src='/js/logout.js'></script>
        {{/if}}
    </body>
</html>