<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

       <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
       <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                green: '#29AB87',
                grey: '#504C64',
                white: '#FDFDFD',
              },
              fontFamily: {
                helvetica: ['Helvetica', 'Arial', 'sans-serif'],
              }
            }
          }
        }
       </script>

        <title>PackPal</title>
        <link rel='stylesheet' href='/css/reset.css' />
        <link rel='stylesheet' href='/css/style.css' />

    </head>

    <body>

        <header>
            <h1 class="packpalTitle text-center pt-5
            " style="font-size: 6vw;">PackPal</h1>
        </header>
        
        <nav class='nav text-center text-grey font-semibold p-2 text-lg'>
            <a class='nav-link hover:text-green' id='homeLink' href='/'>Home</a>
            <a class='nav-link hover:text-green' id='dashboardLink' href='/dashboard'>Dashboard</a>
            {{#if loggedIn}}
                <a class='nav-link hover:text-green' id="logout" href='/'>Logout</a>
            {{else}}
                <a class='nav-link hover:text-green' id='logoutLink' href='/login'>Login</a>
            {{/if}}
        </nav>

        <main class='container'>
            <!-- Render the sub layout -->
            {{{body}}}
        </main>

  
        <footer class="text-center pt-5">
          Copyright © 2023 Project on Github and Heroku
        </footer>

        {{#if loggedIn}}
            <script src='/js/logout.js'></script>
        {{/if}}

    </body>



</html>