<div>
    <h2 class="font-semibold text-center" style="font-size: 2.5vw;">Create a new packing list</h2>
    <form id='create-new-list-form' class=''>
        <div class='form-group'>
            <label for='name' class="font-semibold">Name*:</label>
            <input type='text' id='name' name='name' placeholder='Mandatory field'required />
        </div>
        <div class='form-group'>
            <label for='dateFrom' class="font-semibold">Date From:</label>
            <input type='date' id='dateFrom' name='dateFrom' />
        </div>

        <div class='form-group'>
            <label for='dateTo' class="font-semibold">Date To:</label>
            <input type='date' id='dateTo' name='dateTo' />
        </div>

        <div class='form-group'>
            <label for='destination' class="font-semibold">Destinations:</label>
            <input type='text' id='destination' name='destination' />
        </div>

        <div class='form-group transport'>
            <label for='transport-options' class="font-semibold">Travelling by:</label>
            <input
                type='checkbox'
                id='vehicle1'
                name='vehicle'
                value='Flight'
            />
            <label for='vehicle1'> Flight</label>
            <input
                type='checkbox'
                id='vehicle2'
                name='vehicle'
                value='Car'
            />
            <label for='vehicle2'> Car</label>
            <input
                type='checkbox'
                id='vehicle3'
                name='vehicle'
                value='Ship'
            />
            <label for='vehicle3'> Ship</label>
            <input
                type='checkbox'
                id='vehicle4'
                name='vehicle'
                value='Train'
            />
            <label for='vehicle5'> Train</label>
            <input
                type='checkbox'
                id='vehicle5'
                name='vehicle'
                value='Other'
            />
            <label for='vehicle5'>Other </label>
        </div>
        <div class='form-group baggage'>
            <label for='bag-options' class="font-semibold">Baggage:</label>
            <input type='checkbox' id='bag1' name='bag' value='Cabin Bag' />
            <label for='bag1'>Cabin Bag</label>
            <input
                type='checkbox'
                id='bag2'
                name='bag'
                value='Medium Suitcase'
            />
            <label for='bag2'>Medium Suitcase</label>
            <input
                type='checkbox'
                id='bag3'
                name='bag'
                value='Large suitcase'
            />
            <label for='bag3'>Large suitcase</label>
            <input type='checkbox' id='bag4' name='bag' value='Handbag' />
            <label for='bag4'>Handbag</label>
            <input type='checkbox' id='bag5' name='bag' value='Backpack' />
            <label for='bag5'>Backpack</label>
            <input type='checkbox' id='bag6' name='bag' value='Duffle Bag' />
            <label for='bag6'>Duffle Bag</label>
            <input type='checkbox' id='bag7' name='bag' value='Garment Bags' />
            <label for='bag7'>Garment Bags</label>
            <input
                type='checkbox'
                id='bag8'
                name='bag'
                value='Equipment cases'
            />
            <label for='bag8'>Equipment cases</label>
            <input type='checkbox' id='bag9' name='bag' value='Oversize' />
            <label for='bag9'>Oversize</label>
        </div>

        <div class='form-group'>
            <label for='climate' class="font-semibold">Climate:</label>
            <input type='text' id='climate' name='climate' />
        </div>
        <div class='form-group'>
            <button type='submit' class="font-semibold border-solid border-grey rounded-md p-2 hover:border-dotted hover:border-green">Create list</button>
        </div>
    </form>



</div>

<script src='/js/createList.js'></script>