<div class='row d-flex mt-3 justify-content-center'>
    <div class='col-8'>
        <div class='login'>
            <!-- Login Page -->
            <form class='form login-form'>
                <h2 class='login-title p-2 text-center font-semibold' style="font-size: 2vw;">Log into your account!</h2>
                <div class='p-3 justify-center'>
                    <label class='form-label font-semibold' for='login-email'>Email:</label>
                    <input
                        class='form-control'
                        type='text'
                        id='login-email'
                        name='login-email'
                    />

                    <label
                        class='form-label mt-3 font-semibold'
                        for='login-password'
                    >Password:</label>
                    <input
                        class='form-control'
                        type='password'
                        id='login-password'
                    />

                    <button
                        class='btn btn-primary mt-3 font-semibold pl-7 hover:text-green'
                        type='submit'
                    >Login</button>

                    <p class="text-center pt-10 font-semibold" style="font-size: 2vw;"><a href='/signup' class="underline hover:text-green">Sign up</a> instead!</p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='./js/login.js'></script>