<div class='row d-flex mt-3 justify-content-center'>
    <div class='col-8'>
        <div class='login'>
            <!-- Login Page -->
            <form class='form login-form'>
                <h2 class='login-title p-2'>Login</h2>
                <div class='p-3'>
                    <label class='form-label' for='login-email'>Email:</label>
                    <input
                        class='form-control'
                        type='text'
                        id='login-email'
                        name='login-email'
                    />

                    <label
                        class='form-label mt-3'
                        for='login-password'
                    >Password:</label>
                    <input
                        class='form-control'
                        type='password'
                        id='login-password'
                    />

                    <button
                        class='btn btn-primary mt-3'
                        type='submit'
                    >Login</button>

                    <p><a href='/signup'>Sign up</a> instead</p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='./js/login.js'></script>