<div class='row d-flex mt-3 justify-content-center'>
    <div class='col-8'>
        <div class='signup'>
            <!-- Sign up Page -->
            <form class='form signup-form'>
                <h2
                    class='signup-title p-2 text-center font-semibold'
                    style='font-size: 2.5vw;'
                >Create an account!</h2>
                <div class='p-3 justify-center'>
                    <label
                        class='form-label font-semibold'
                        for='signup-username'
                    >Username:</label>
                    <input
                        class='form-control'
                        type='text'
                        id='signup-username'
                        name='signup-username'
                    />
                    <label
                        class='form-label mt-3 font-semibold'
                        for='signup-email'
                    >Email:</label>
                    <input
                        class='form-control'
                        type='text'
                        id='signup-email'
                        name='signup-email'
                    />

                    <label
                        class='form-label mt-3 font-semibold'
                        for='signup-password'
                    >Password:</label>
                    <input
                        class='form-control'
                        type='password'
                        id='signup-password'
                        placeholder="*Minimum 8 characters"
                    />
                    </div>
                <div class='p-3 text-center'>
                    <button class='btn btn-primary mt-3 self-center' type='submit'><span
                            class='flex bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md'
                        >Sign Up</span></button>
                    </div>
                <div class='p-3 justify-center'>
                    <p
                        class='text-center pt-10 font-semibold'
                        style='font-size: 2.5wv'
                    >
                        Already a user?
                        <a
                            href='/login'
                            class='underline hover:text-green'
                        >Login</a>
                        here.
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='./js/signup.js'></script>